@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
.google-map {
    width: 100%;
    height : 100%;
    margin-bottom : 50px;
}

.google-map h1 {
    font-family: 'Pretendard-Regular';
    margin-left: 200px;
    padding-top: 70px;
    padding-bottom: 20px;
    font-size: 3rem;
    color: white;
    text-shadow: 1px 1px 1px black;
}