
#table { 
    margin-top: 20px;
    margin-left: 30%;
    font-family: 'Pretendard-Regular';
    color: rgba(0,0,0,0.7);
}

td {
    width: 500px;
    font-size: 1.2rem;
    font-weight: bold;
    height: 50px;
}


#td1 {
    height: 200px;
    padding-bottom: 500px;
}
#td2 {
    padding-top: 30px;
}