<!DOCTYPE html>
<body>
<html>
    <head>
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
        />
        <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"></script>
        <script src="https://api.windy.com/assets/map-forecast/libBoot.js"></script>
        <style>
            #windy {
                width: 100%;
                height: 500px;
            }
        </style>
    </head>
    <body>
        <div id="windy"></div>
        <script src="windy.js"></script>
    </body>
</html>
</body>
</html>

<!-- 이 내용은 public - index.html header 부분에 복사하여 들어간 내용 -->
